body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-section input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}

.input-section button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border-color: green;
    cursor: pointer;
}
.input-section button:hover {
    background-color: rgb(0, 191, 255);
    border-color: rgb(0, 119, 128);
}

.tasks-section h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.completed-task {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
.task-checkbox {
    margin-right: 10px;
}
